.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    color: #fff;
    background: url("./assets/chess-background.jpg") center / cover;
    z-index: -2;
    user-select: none;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    filter: drop-shadow(0 0 15px #000);
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: rgb(120, 120, 120);
}

.white {
    background-color: silver;
}

.selected {
    background-color: lightseagreen;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(200, 255, 116);
}

.available-enemy img {
    filter: drop-shadow(0px 0px 10px red);
}

.lost-wrapper {
    display: flex;
}

.lost {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1rem;
    margin: 0.625rem;
    background-color: rgb(120, 120, 120);
}

.lost__title {
    margin: 0 0 0.625rem 0;
    display: flex;
    justify-content: center;
}

.lost__description {
    display: flex;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(120, 120, 120);
    margin: 0.625rem;
    padding: 0.625rem;
}

.timer__time {
    display: flex;
    gap: 1rem;
}

.modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100svh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    color: #000;
    padding: 0.75rem 0.5rem;
    border-radius: 0.4rem;
    min-width: 13rem;
}

.modal-header {
    display: flex;
    justify-content: center;
}

.modal-body {
    display: flex;
    justify-content: center;
}

.modal-body p {
    margin: 1rem 0;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.btn {
    padding: 0.25rem 0.3rem;
    border: 0;
    background-color: #ddd;
    border-radius: 0.2rem;
}

@media (max-width: 767.98px) {
    .board {
        width: calc(40px * 8);
        height: calc(40px * 8);
    }

    .cell {
        width: 40px;
        height: 40px;
    }

    .cell img {
        width: 30px;
        height: 30px;
    }

    .available {
        height: 8px;
        width: 8px;
    }

    .available-enemy img {
        filter: drop-shadow(0px 0px 6px red);
    }
}