.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

.app::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../chess-background.jpg") center / cover no-repeat;
    filter: blur(3px);
    z-index: -1;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    filter: drop-shadow(0 0 25px #000);
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: rgb(120, 120, 120);
}

.white {
    background-color: silver;
}
