.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    color: #fff;
    background: url("./assets/chess-background.jpg") center / cover;
    z-index: -2;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    filter: drop-shadow(0 0 15px #000);
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: rgb(120, 120, 120);
}

.white {
    background-color: silver;
}

.selected {
    background-color: lightseagreen;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(200, 255, 116);
}

.available-enemy img {
    filter: drop-shadow(0px 0px 12px red);
}

.lost-wrapper {
    display: flex;
}

.lost {
    padding: 20px 15px;
    margin: 15px;
    background-color: rgb(120, 120, 120);
}

.lost__title {
    margin: 0 0 10px 0;
}

.lost__description {
    font-size: 20px;
}